/* font @import */

:root {
  /* css variables with theme colors,
    names have to start with "--" */
  --color-1: #2c0ddb;
 
}

body {
    padding: 40px;
}


/*#container {
  display: grid;
  justify-items: center;
}*/

  .white {
    /*background: url();*/
    /*background-size: cover;*/
     background: #ffffff;
     color: #000000;
     /*border: 3px solid #ffffff;*/
     font-family: serif;
     /*font-family: serif;
     font-size: 1.4rem;*/
   }

   
   .blue {
     background: #1202ec;
     color: #000000;
     /*border: 3px solid #00A9D4;
     font-family: 'Concert One';
     font-size: 1.0rem;*/
     font-family: Arial, Helvetica, sans-serif;
   }
   
   .red {
     background: #ff000038;
     color: #000000;
     /*border: 3px solid #000000;*/
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     /*font-family: 'Space Grotesk';
     font-size: 0.9rem;*/
   }
   
   .green {
     background: #00ff625e;
     color: #000000;
     /*border: 3px solid #000000;*/
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     /*font-family: 'Lato';
     font-size: 0.9rem;*/
   }

